<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ed7b7c">  <td>22/01/25 13:05:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonApp.AmazonTestcase1()[pri:1, instance:tests.AmazonApp@21282ed8]">AmazonTestcase1</td> 
  <td>main@1422238463</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>22/01/25 13:05:28</td>   <td>-7435</td> <td title="&gt;&gt;BasePage.setup()[pri:0, instance:tests.AmazonApp@21282ed8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1422238463</td>   <td></td> </tr>
<tr bgcolor="61bef5">  <td>22/01/25 13:05:45</td>   <td>9392</td> <td title="&lt;&lt;BasePage.teardown()[pri:0, instance:tests.AmazonApp@21282ed8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1422238463</td>   <td></td> </tr>
</table>
